.container {
    margin: 0px auto;

    padding-top: 46px;
    margin-bottom: 50px;
    width: 1204px;
    justify-content: space-between;
    align-items: center;
    background: white;
    position: relative;
    height: fit-content;
}
.content {
    height: auto;
}
