:root {
    --primary: #fe2c55;
    --white: #fff;
    --default-layout-height: 60px;
    --default-layout-width: 1106px;
    --text-color: #333;
}

html {
    font-size: 100%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    font-weight: 100;
    background-color: #f2f2f2;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}
a {
    text-decoration: none;
}
// custom tippy tooltip

body {
    height: 1000px;
    .tippy-box {
        padding: 3px;
        border-radius: 8px;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        background-color: rgba(84, 84, 84, 0.92);
        color: rgb(255, 255, 255);
        overflow-y: overlay;
    }
    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }
}

//ScollBar css
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.06);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}
