.container {
    font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
    padding: 0 30px;
    padding-top: 30px;
    padding-bottom: 66px;
}

.image {
}
