.container {
    margin: 0px auto;
    padding: 0 30px;
    padding-top: 46px;
    padding-bottom: 46px;
    width: 1204px;

    justify-content: space-between;
    align-items: center;
    background: white;
    position: relative;
}

.content {
    padding-top: 30px;
    flex: 2.5 1;
    margin-right: 330px;
    padding-right: 20px;
    border-right: 1px solid #f2f2f2;
}
