.play-controls {
    width: 100%;
    background-color: #f2f2f2;
    position: fixed;
    bottom: 0;
    z-index: 100;
    border: 1px solid #cecece;
    border-right: none;
    height: 50px;
    font-size: 16px;
    display: flex;
}
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1204px;
    margin: 0 auto;
}
.set-icon-size {
    width: 16px;
    &:hover {
        cursor: pointer;
    }
}
.left-container {
    display: flex;
    align-items: center;
    height: 100%;
    svg {
        margin: 10px;
    }
}
.center-container {
    display: flex;
    justify-content: center;
    padding: 0 30px;
    font-size: 12px;
    .timer {
        display: flex;
        align-items: center;
        .time-during {
            height: 1px;
            margin: 0 15px;
            width: 500px;
            &:hover {
                cursor: pointer;
            }
        }
    }
    .volume {
        margin-left: 30px;
    }
}
input[type='range'] {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    background-color: #f50;
    height: 2rem;
    width: 1rem;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #ff4500;
    box-shadow: 0 0 2px 0 #555;
}
.right-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    font-size: 12px;
    .icon {
        display: flex;
        svg {
            padding: 5px;
        }
    }
}
.track-info {
    display: flex;
    align-items: center;
    img {
        width: 30px;
        height: 30px;
        background-size: cover;
    }
    .info {
        margin: 0 8px;
        display: flex;
        flex-direction: column;
        width: 223px;
        p {
            font-size: 12px;
        }
    }
}
.red-color {
    color: red;
}
