.wrapper {
    font-family: Interstate, Lucida Grande, Arial, sans-serif;
    width: 100%;
    font-weight: 100;
    font-size: 14px;
    line-height: 1.5;
    background: #333;
    height: 46px;
    position: fixed;
    z-index: 99;
    display: flex;
    justify-content: center;
}
a {
    text-decoration: none;
    color: white;
    padding: 12px;
    display: flex;
    align-items: center;
    &:hover {
        color: white;
    }
}
.header-content {
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1204px;
}

.header-logo {
    display: block;
    height: 100%;
    border-right: 1px solid #111;
    .logo {
        width: 48px;
        height: 100%;
        background-image: url(https://a-v2.sndcdn.com/assets/images/peace-cloud-28ad0963.svg);
        background-repeat: no-repeat;
    }
    &.active {
        background-color: #000000;
        color: white;
    }
}

.header-search {
    padding: 9px 10px 8px 10px;
    width: 440px;

    form {
        display: flex;
        background: #e5e5e5;
        height: 28px;
        border-radius: 4px;
    }
    input {
        background: #e5e5e5;
        border: 0;
        outline: 0;
        padding: 5px 7px;
        height: 100%;
        width: 100%;
        border-radius: 4px;
        &:focus {
            background-color: white;
        }
        &:focus {
            .search-icon {
                background-color: white;
            }
        }
    }
    .search-icon {
        border-radius: 4px;
        background: #e5e5e5;
        margin: 0 10px;
    }
}
.header-item-right {
    height: 100%;
    color: #ccc;
    a {
        &:hover {
            color: white;
        }
    }
    &.active {
        background-color: #000000;
        color: white;
    }
}

.red-color {
    a {
        width: 105px;
        color: #f50;
    }
    &:hover a {
        color: #f50;
    }
}
.header-info {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    img {
        height: 28px;
        width: 28px;
        border-radius: 50%;
        margin-right: 8px;
    }
    .name {
        padding-right: 8px;
        color: #ccc;
    }
    .info-icon {
        color: #ccc;
        font-size: 12px;
    }
    &:hover {
        cursor: pointer;
    }
    &:hover .info-icon {
        color: white;
    }
    &:hover span {
        color: white;
    }
}
.add-padding {
    padding: 0px 12px;
}
.right-icon {
    color: #ccc;
    padding: 12px 15px;
    font-size: 16px;
    &:hover {
        color: white;
        cursor: pointer;
    }
    height: 100%;
    &.active {
        background-color: #000000;
        color: white;
    }
}
.size-medium {
    font-size: 30px !important;
    padding: 0 12px;
}
.info {
    display: flex;
    align-items: center;
}
.black {
    background-color: black;
}
